/* 

  Section 04: Awards

*/
.awards {
  padding: 4rem 0;
}

.awards-heading {
  font-size: 2rem;
  font-weight: bolder;
  color: rgba(#fff, 0.25);
  margin-bottom: 2rem;

  @media (min-width: 600px) {
    font-size: 4rem;
    margin-bottom: 3rem;
  }
  /* md */
  @media (min-width: 768px) {
    font-size: 4rem;
  }
  /* lg */
  @media (min-width: 1024px) {
  }
}

.awards-items {
  list-style: none;
}

.awards-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: var(--border-width) solid var(--color-text);
  padding: 1.25rem 0;
}

.awards-item-name-no {
  display: flex;
  gap: 1.75rem;
}

.awards-item-no,
.awards-item-title,
.awards-item-year {
  font-size: 1.25rem;
  font-weight: 400;
  font-family: "josefin sans";
  text-transform: uppercase;
}
