.services {
  padding: 0;
  margin-bottom: 4rem;
}

.services-inner {
  display: flex;
  flex-direction: column;

  border-top: var(--border-width) solid var(--color-text);
  @media (min-width: 600px) {
    flex-direction: row;
    align-items: flex-start;
    border-bottom: var(--border-width) solid var(--color-text);
  }
}

.services-heading {
  padding: 2rem 1.5rem;
  border-bottom: var(--border-width) solid var(--color-text);
  font-family: "josefin sans";

  @media (min-width: 600px) {
    flex: 1;
    padding: 2rem 1vw;

    border-bottom: none;
    font-size: 2.5rem;
    line-height: 1.4;
  }
  /* md */
  @media (min-width: 768px) {
    padding: 2rem 2.5vw;
    font-size: 3rem;
  }
  /* lg */
  @media (min-width: 1024px) {
    padding-left: 12.5vw;
    padding-right: 4rem;
    padding-top: 4rem;
    font-size: 3.5rem;
  }
}

.services-items {
  @media (min-width: 600px) {
    flex: 1;
    border-left: var(--border-width) solid var(--color-text);
  }
}

.services-item {
  padding: 1.5rem;
  border-bottom: var(--border-width) solid var(--color-text);

  &:nth-last-child(1) {
    border-bottom: none;
  }

  @media (min-width: 600px) {
    padding: 2rem 1vw;
  }
  /* md */
  @media (min-width: 768px) {
    padding-right: 2.5vw;
    padding-left: 2.5vw;
  }
  /* lg */
  @media (min-width: 1024px) {
    padding-left: 3rem;
    padding-right: 12.5vw;
    padding-top: 3rem;
    padding-bottom: 3rem;
  }
}

.services-item-title {
  font-family: "josefin sans", Arial, Helvetica, sans-serif;
}

.services-item-desc {
  font-size: 0.75rem;
}

.services-item-price {
  letter-spacing: 2px;
  font-size: 1rem;
  small {
    font-family: "poppins", Arial, Helvetica, sans-serif;
    font-size: 0.65rem;
    text-transform: lowercase;
    font-weight: normal;
  }
}

.services-item-link {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 0.75rem;
  text-transform: uppercase;
  text-underline-offset: 6px;
  color: var(--color-green);

  svg {
    width: 16px;
    height: 16px;
    transform: rotate(-45deg);
    color: var(--color-green);
    text-decoration: underline;
  }
}
